/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__readmore {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
    .header { text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task,
.task-list__task-label,
.task-list__task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0px;
}

.task-list__row, .title {
  list-style: none;
}

.task-list__checkbox,
.task,
.add,
.task-list__edit,
.task-list__delete {
  margin: 0 10px 0 0;
  outline: none;
}

.add,
.task-list__edit,
.task-list__delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add:hover,
.task-list__edit:hover,
.task-list__delete:hover {
  color: #3a3a3a;
}

/* Heading */
.section-title,
.header__title {
  visibility: hidden;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 0;
}

.title,
.task-label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-input,
.task-list__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-input:focus {
  color: #333;
}

/* New Task */
.task-label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

.task-input#new-task {
  width: 318px;
}

/* Task list */
.task-list__row {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__row > * {
  vertical-align: middle;
}

.task-list__row > .task-input[type="checkbox"] {
  margin: 0 10px;
}

.task-list__row > .task-list__task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-list__row > .task-input[type="text"] {
  width: 226px;
}

.task-list__delete .task-list__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-list__delete .task-list__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list#completed .task-list__task-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list .task-list__row .task-input[type=text],
.task-list__task-input {
  display: none;
}

.task-list .task-list__row.task-list__row_edit .task-input[type=text],
.task-list .task-list__row.task-list__row_edit .task-list__task-input {
  display: inline-block;
  width: 224px;
}

.task-list .task-list__row.task-list__row_edit .task-list__task-label {
  display: none;
}